<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
    <display-name>Archetype Created Web Application</display-name>

    <!-- Servlet mappings for JSP files -->
    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <jsp-file>/WEB-INF/views/registrationPage.jsp</jsp-file>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <jsp-file>/WEB-INF/views/loginPage.jsp</jsp-file>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <!-- Add mappings for other JSP files similarly -->
    <!-- Example for adminPage.jsp -->
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <jsp-file>/WEB-INF/views/adminPage.jsp</jsp-file>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>

    <!-- Example for home.jsp -->
    <servlet>
        <servlet-name>CoachServlet</servlet-name>
        <jsp-file>/WEB-INF/views/coachPage.jsp</jsp-file>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>CoachServlet</servlet-name>
        <url-pattern>/coach</url-pattern>
    </servlet-mapping>

    <!-- Example for profile.jsp -->
    <servlet>
        <servlet-name>TraineeServlet</servlet-name>
        <jsp-file>/WEB-INF/views/traineePage.jsp</jsp-file>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>TraineeServlet</servlet-name>
        <url-pattern>/trainee</url-pattern>
    </servlet-mapping>

    <!-- Example for error.jsp -->
    <servlet>
        <servlet-name>ErrorServlet</servlet-name>
        <jsp-file>/WEB-INF/views/errorPage.jsp</jsp-file>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>ErrorServlet</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>
</web-app>
