<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
    <display-name>Archetype Created Web Application</display-name>

    <!-- Servlet mappings for JSP files -->
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <jsp-file>/WEB-INF/views/signupPage.jsp</jsp-file>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <jsp-file>/WEB-INF/views/loginPage.jsp</jsp-file>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserProfileServlet</servlet-name>
        <jsp-file>/WEB-INF/views/userProfile.jsp</jsp-file>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>UserProfileServlet</servlet-name>
        <url-pattern>/userprofile</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <jsp-file>/WEB-INF/views/adminPage.jsp</jsp-file>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>StudentServlet</servlet-name>
        <jsp-file>/WEB-INF/views/studentPage.jsp</jsp-file>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>StudentServlet</servlet-name>
        <url-pattern>/student</url-pattern>
    </servlet-mapping>
</web-app>
